body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: grid;
    gap: 60px;
    justify-items: center;
    margin-top: 60px;
    background-color: #f7f7f7;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

p,
h1,
h2,
h3 {
    margin: 0px;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}

.header {
    display: grid;
    gap: 60px;
    justify-items: center;
}


.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu-item {
    display: inline-block;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: #000;
    border: 2px solid transparent;
}

.menu-item:hover {
    border: 2px solid #e21;
    /* border-color: #e21; */
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introducao {
    background-color: #fff;
    gap: 20px;
    text-align: right;
    position: relative;
    display: grid;
    /*h1, p, a sao grid items, tag a nao expande sobrepondo outras tags assim*/
    align-content: center;
    justify-items: end;
    padding: 40px;
}

.introducao h1 {
    font-size: 2rem;
}

.introducao::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 4px;
    background-color: #e21;
    position: absolute;
    top: 30px;
    right: -30px;
}

.botao {
    background-color: #e21;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
}

.botao:hover {
    background-color: #900;
}

.subtitulo {
    background-image: url("./img/onda.svg");
    text-transform: uppercase;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    align-self: center;
    padding: 40px;
}

.vantagens {
    background-color: #fff;
    padding: 2.5rem;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
    border-left: 4px solid transparent;
}

.vantagens-item:nth-child(odd) {
    background-color: #f7f7f7;
}

.vantagens-item:hover {
    border-left: 4px solid #e21;
}

.vantagens-item p {
    grid-column: 2;
}

.rodape {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;

}